# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.turbo/

# Env files
.env
.env.local
.env.*.local
# env files anywhere
**/.env
**/.env.*
# Editor
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo


